ta-lib; sys_platform == "darwin"      # If it does not work on M1, then use 'arch -arm64 brew install ta-lib'
talib-binary; sys_platform != "darwin"  # if it fails: conda install -c conda-forge ta-lib