# Tensorflow in mac m1 (follow https://developer.apple.com/metal/tensorflow-plugin/):
# conda install -c apple tensorflow-deps
tensorflow-macos; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
intel-tensorflow; sys_platform != "darwin"
gym[all]        # open-ai gym
sklearn
seaborn     # nice plots
ta-lib; sys_platform == "darwin"      # If it does not work on M1, then use 'arch -arm64 brew install ta-lib'
talib-binary; sys_platform != "darwin"